.dummy-page {
  /* justify-content: space-around; */
  /* display: flex; */
  height: 100vh;
  overflow-y: hidden;
}

.dummy {
  width: 75%;
}

.dummy-container {
  width: 400px;
  height: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: space-around;
  position: absolute;
}
.style {
  width: 60px;
  cursor: pointer;
  opacity: 0.5;
}
.style:hover {
  opacity: 1;
}

.style-box {
  text-align: center;
}

.style-wrapper {
  justify-content: space-around;
}
