/* Nav style */
* {
    box-sizing: border-box;
}

.nav-main {
    background-color: #6f42c1 !important;
}

.dummy-panel {
    width: 350px;
    height: 100vh;
    background-color: #4008a8;
}



.App-logo {
    z-index: 100;
}

.pant {
    position: absolute;
}

.garment-color {
    width: 30px;
    height: 30px;
}

.test {
    width: 300px;
    height: 300px;
}

.sleve {
    height: 100%;
}

.next-item {
    bottom: 0;
    margin-left: -25px;
}

.tsb-content {
    height: 100%;
}
