/* Nav style */
.nav-main {
  background-color: #6f42c1 !important;
}
.dummy {
  width: 33.33%;
}

.dummy-panel {
  width: 400px;
  height: 100vh;
  background-color: #4008a8;
}

.dummy-page {
  /* justify-content: space-around; */
  display: flex;
}

.App-logo {
  z-index: 100;
}

.pant {
  position: absolute;
}
